@font-face {
    font-family: "HelveticaNeueCyr_Medium";
    src: url("../fonts/helveticaneuecyrmedium/HelveticaNeueCyr-Medium.otf") format('truetype');
}

.navbar .navbar-toggler-icon {
    background-image: url('../images/burger-icon.png');
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.nav-item__lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.consultation {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 35px;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-right: 45px;
    transition: 0.3s linear;
}

.consultation:hover {
    color: #272727;
    background: #fff;
}

.burger-menu {
    cursor: pointer;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    transition: 0.3s;
}

.burger-menu:hover {
    transform: scale(1.075);
}

.languages.selected {
    opacity: 0.4;
}

.slide-1, .slide-2 {
    background: url('../images/slider-1/slider1-bg.jpg') no-repeat center / cover;
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: column !important;
}

.slide-2 {
    background: url('../images/slider-2/slider2-bg.jpg') no-repeat center / cover;
}

.aboutVR {
    padding: 0 105px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.aboutVR-text h1 {
    font-size: 71px;
    line-height: 81px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}

.aboutVR-text h1 span {
    font-weight: 700;
    margin-left: 60px;
}

.aboutVR-text p {
    text-transform: uppercase;
    font-size: 17px;
    color: #ffffffcc;
    margin-top: 35px;
    margin-left: 60px;
    line-height: 24px;
}

.aboutVR-img, .aboutVR-img img {
    transition: 0.3s;
}

.aboutVR-img {
    transform-style: preserve-3d;
    perspective: 1000px;
    padding: 30px;
}

.aboutVR-img img {
    width: 527px;
    height: 304px;
}

.menu__modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    transition: .3s;


    background: url('../images/burger-menu__img/menu-bg.jpg') no-repeat center / cover;
}

.menu__modal-nav {
    padding: 30px 40px;;
    width: 100%;
    display: flex;
    justify-content: space-between;

}


.menu__modal-about li {
    list-style: none;
    width: max-content;
}

.menu__modal-about {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.left {
    margin-right: 70px;
}

.right {
    margin-left: 70px;
}

.left li:not(:last-of-type),
.right li:not(:last-of-type) {
    margin-bottom: 25px;
}

.menu__modal-about div li a {
    font-size: 40px;
    color: #fff;
    opacity: .4;
    text-transform: none;
    transition: .3s;
}

.menu__modal-about div li a:hover {
    opacity: 1;
}

.menu__modal-about div li a sup {
    font-size: 18px;
    line-height: 130%;
    
}

.hidden {
    opacity: 0;
    z-index: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
